
div.tabBox {
width:99.9%;
float:left;
overflow: visible;
}
  
div.tabBox h3 {
padding:20px 0px;
}
  
ul.tabs {
margin: 0;
padding: 0;
float: left;
list-style: none;
height: 32px; 
width:99.9%;
}
  
ul.tabs li {
border-radius: 1px;
float: left;
margin: 0;
padding: 0;
height: 32px; 
line-height: 32px; 
overflow: hidden;
position: relative;
bottom:155px;
right: 150px;

}
  
ul.tabs li a {
display: block;
padding: 0 5px;
outline: none;
background:none;
}
  
.tabContainer {
background:white;
border-top: none;
overflow: hidden;
clear: both;
float: left;
width:60%;
min-height:250px;
margin-bottom:10px;
position: relative;
bottom:155px;
right: 150px;
}
  
.tabContent {
padding: 20px;
}
  
.tabContent h3 {
padding:0px;
}
  
/**** TABS STYLES ****/
  
div.tabBox h3 {
}
  
  
ul.tabs {/*
border-left: 1px solid #ccc;
border-top-left-radius:5px;
-moz-border-top-left-radius:5px;
-webkit-border-top-left-radius:5px;*/

}
  
ul.tabs li {
  background: black;/* change based on background colour*/
}
  
ul.tabs li a {
background: black;
text-decoration: none;
font-size: 18px;
font-family: Papyrus;
color: white;
outline: none;
border: 1px solid #ccc;
margin-right: 0.2vw;
padding-left: 1vw;
padding-right: 1vw;
padding-bottom: 1vw;

}
  
ul.tabs li a:hover {
/*background: #eee;*/
}
  
ul.tabs li.active {
  color: black;
  font-weight: bold;
  display: inline;
  position: relative;
  cursor: pointer;
  border-bottom:none;

  
}

  
ul.tabs li.active a, ul.tabs li.active a:hover  {  
  color: black;
  background: white;
}
  
div.tabContainer {
border-bottom:1px solid #ccc;
border-left:1px solid #ccc;
border-right:1px solid #ccc;
border-top:1px solid #ccc;
background: black;
color: white;
opacity: 0.9;
min-height:500px;
}

@media only screen and (max-width: 767px) {
 
div.tabBox {
border: 1px solid #000;
}
 
ul.tabs {
height: auto;
display: block;
width:100%;
border-left:0px;
}
     
ul.tabs li {
width:100%;
}
 
ul.tabs li a {
border:0px;
}
     
div.tabContainer {
border: 0px;
}
     
}


* {margin: 0; padding: 0;}
body {background: #ccc;}

.slider{
	width: 640px; /*Same as width of the large image*/
	position: relative;
	/*Instead of height we will use padding*/
	padding-top: 320px; /*That helps bring the labels down*/
	
	margin: 100px auto;
	
	/*Lets add a shadow*/
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
}


/*Last thing remaining is to add transitions*/
.slider>img{
	position: absolute;
	left: 0; top: 0;
	transition: all 0.5s;
}

.slider input[name='slide_switch'] {
	display: none;
}

.slider label {
	/*Lets add some spacing for the thumbnails*/
	margin: 18px 0 0 18px;
	border: 3px solid #999;
	
	float: left;
	cursor: pointer;
	transition: all 0.5s;
	
	/*Default style = low opacity*/
	opacity: 0.6;
}

.slider label img{
	display: block;
}

/*Time to add the click effects*/
.slider input[name='slide_switch']:checked+label {
	border-color: #666;
	opacity: 1;
}
/*Clicking any thumbnail now should change its opacity(style)*/
/*Time to work on the main images*/
.slider input[name='slide_switch'] ~ img {
	opacity: 0;
	transform: scale(1.1);
}
/*That hides all main images at a 110% size
On click the images will be displayed at normal size to complete the effect
*/
.slider input[name='slide_switch']:checked+label+img {
	opacity: 1;