
div.tabBox {
    width:99.9%;
    float:left;
    overflow: visible;
}
  
div.tabBox h3 {
    
}
  
ul.tabs {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    height: 5%; 
    width:99.9%;
}
  
ul.tabs li {
    border-radius: 1px;
    float: left;
    margin: 0;
    padding: 0;
    height: 4vh;/*150%*/ 
    line-height: 4vh;
    overflow: hidden;
    margin-left:5%;
}
  
ul.tabs li a {
    display: block;
    padding: 0 5px;
    outline: none;
    background:none;
}
  
.tabContainer {
    background:white;
    border-top: none;
    overflow: hidden;
    clear: both;
    float: left;
    width:90%;
    margin-left:5%;
}
  
.tabContent {

}
  
.tabContent h3 {
    padding:0px;
}
  
/**** TABS STYLES ****/
  
div.tabBox h3 {
}
  
  
ul.tabs {/*
border-left: 1px solid #ccc;
border-top-left-radius:5px;
-moz-border-top-left-radius:5px;
-webkit-border-top-left-radius:5px;*/

}
  
ul.tabs li {
  background: none;/* change based on background colour. Currently clear*/
}
  
ul.tabs li a {
    background: black;
    text-decoration: none;
    font-size: 135%;
    font-family: Papyrus;
    color: #FF5A09;
    outline: none;
    border: 1px solid #ccc;
    margin-right: 0.2vw;
    padding-left: 15%;
    padding-right: 20%;
    padding-bottom: 15px;;
}
  
ul.tabs li a:hover {

}
  
ul.tabs li.active {
  color: black;
  font-weight: bold;
  display: inline;

  cursor: pointer;
  border-bottom:none;
}

  
ul.tabs li.active a, ul.tabs li.active a:hover  {  
  color: black;
  background: white;
}
  
div.tabContainer {
    /*border-bottom:1px solid #ccc;
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
    border-top:2px solid #ccc;
    background: black;*/
    background-color: transparent;
    color: white;
    opacity: 0.9;
    min-height:72vh;
}

@media only screen and (max-width: 767px) {
 
div.tabBox {
/*border: 1px solid #000;*/
}
 
ul.tabs {
    height: auto;
    display: block;
    width:100%;
    border-left:0px;
}
     
ul.tabs li {
    
}
 
ul.tabs li a {
    border:0px;
}
     
div.tabContainer {
    border: 0px;
}
     
}


@import url(http://fonts.googleapis.com/css?family=Varela+Round);

html, body { background: #333 url("http://codepen.io/images/classy_fabric.png"); }

.slides {
    padding: 0;
    width: 85.73%;
    height: auto;
    display: block;
    margin: 0 auto;
    position: absolute;
    border-bottom:2px solid #ccc;
    border-left:2px solid #ccc;
    border-right:2px solid #ccc;
    border-top:3px solid #ccc;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide {
    top: 0;
    opacity: 0;
    width: 100.0%;
    height: 100%;
    transition: all 0.2s ease-in-out;
}

.slide iframe {
    zoom:2.5;
    width: 100%;
    height:auto;
	
}

.slide img {
    
    width: 100%;
    height:auto;
	
}

.nav label {
    width: 25.1vh;
    height: 100%;
    display: none;
    opacity: 0;
    z-index: 9;
    cursor: pointer;
    transition: opacity .4s;
    color: #FFF;
    font-size: 156pt;
    text-align: center;
    line-height: 47.5vh;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container  .slide {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
	width: 100%;
	bottom: -7px;
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;
}

.nav-dots .nav-dot {
	width: 15px;
	height: 15px;
	margin-top: 8%;
	margin-right: 2%;
	text-align:center;
	border-radius: 100%;
	display: inline-block;
	background-color: white;
}

.nav-dots .nav-dot:hover {
	cursor: pointer;
	background-color:grey;
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4
{
background-color:DarkSeaGreen;
}

input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6
{
background-color:DarkSeaGreen;
}

input#img-7:checked ~ .nav-dots label#img-dot-7,
input#img-8:checked ~ .nav-dots label#img-dot-8,
input#img-9:checked ~ .nav-dots label#img-dot-9

{
background-color:DarkSeaGreen;
}

input#img-10:checked ~ .nav-dots label#img-dot-10,
input#img-11:checked ~ .nav-dots label#img-dot-11,
input#img-12:checked ~ .nav-dots label#img-dot-12,
input#img-13:checked ~ .nav-dots label#img-dot-13

{
background-color:DarkSeaGreen;
}
input#img-14:checked ~ .nav-dots label#img-dot-14,
input#img-15:checked ~ .nav-dots label#img-dot-15,
input#img-16:checked ~ .nav-dots label#img-dot-16

{
background-color:DarkSeaGreen;
}


input#img-17:checked ~ .nav-dots label#img-dot-17,
input#img-18:checked ~ .nav-dots label#img-dot-18,
input#img-19:checked ~ .nav-dots label#img-dot-19,
input#img-20:checked ~ .nav-dots label#img-dot-20
{
background-color:DarkSeaGreen;
}


input#img-21:checked ~ .nav-dots label#img-dot-21,
input#img-22:checked ~ .nav-dots label#img-dot-22,
input#img-23:checked ~ .nav-dots label#img-dot-23
{
background-color:DarkSeaGreen;
}

.circlular {
    height: 6vw;
    margin-top: 20px;
    border-radius: 1500px;
    border: 3px solid rgba(255,255,255,0.9);
    
}